public/**
resources/**
*.yaml
*.toml
*.md
_markdown.scss
themes/**

# Ignore the follwing files.
layouts/_default/baseof.html
layouts/partials/footer.html
layouts/partials/list.html
layouts/partials/home.html

# Ignore the following directory
layouts/partials/head
layouts/partials/head.html
