//@use "fa-variables" as *;
@use "../utils/index" as *;

// Stacked Icons
// -------------------------

.#{$fa-css-prefix}-stack {
  position: relative;
  display: inline-block;
  width: rem(32);
  height: rem(32);
  line-height: rem(32);
  vertical-align: middle;
}
.#{$fa-css-prefix}-stack-1x,
.#{$fa-css-prefix}-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.#{$fa-css-prefix}-stack-1x {
  line-height: inherit;
}
.#{$fa-css-prefix}-stack-2x {
  font-size: rem(32);
}
.#{$fa-css-prefix}-inverse {
  color: $fa-inverse;
}
