<link rel="preload" href="/fonts/forkawesome-webfont.woff2?v=1.2.0" as="font" type="font/woff2" crossorigin>


<!-- Use dart-sass to transpiler the scss files -->
{{ if .Site.IsServer }}
  {{ $cssOpts := (dict "transpiler" "dartsass" "targetPath" "css/simple-dark.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/simple-dark.scss" | resources.ExecuteAsTemplate "style.simple-dark.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
  {{ $cssOpts := (dict "transpiler" "dartsass" "targetPath" "css/simple-dark.css" ) }}
  {{ $styles := resources.Get "scss/simple-dark.scss" | resources.ExecuteAsTemplate "style.simple-dark.css" . | toCSS $cssOpts | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}
