// Bordered & Pulled
// -------------------------

// Rewrite so the rem(value) to set px value 1rem = 16px.
.#{$fa-css-prefix}-border {
  padding: rem(3) rem(4) rem(3);
  border: solid 0.08em $fa-border-color;
  border-radius: rem(3);
}

.#{$fa-css-prefix}-pull-left {
  float: left;
}
.#{$fa-css-prefix}-pull-right {
  float: right;
}

.#{$fa-css-prefix} {
  &.#{$fa-css-prefix}-pull-left {
    margin-right: rem(5);
  }
  &.#{$fa-css-prefix}-pull-right {
    margin-left: rem(5);
  }
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.#{$fa-css-prefix} {
  &.pull-left {
    margin-right: rem(5);
  }
  &.pull-right {
    margin-left: rem(5);
  }
}
