/**
 * SCSS file for setting the homepage of the website.
 */

@use "utilities/fonts" as *;
@use "utilities/mixins-functions" as *;
@use "utilities/colors" as *;

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: rem(16);

  // Set the row size to so the the second is 1/3 of the first.
  .home-info { flex: 2; padding-right: rem(16); }

  .quote-box {
    flex: 1;

    // Center the content without over riding the flex property of the parent.
    margin: auto;

    background-color: $alt-bg-color;
    border-radius: rem(8);
    box-shadow: rem(-4) rem(-4) rem(4) $alt-darker-color;
    text-align: center;
    height: calc(100% + 15%);
  }

  @include min {
    flex-direction: column;
  }
}

.home .quote-box i { margin-bottom: rem(8); }

.home .quote-box .box-title { margin: rem(8) 0 rem(16) 0; }

.home .quote-box .quotes { padding: 0; margin: rem(8); }

.home .quote-box .quote-author { float: right; margin-right: rem(8); }

.home .home-info .avatar { width: 100%; }

.home .home-info {
  .description {
    font-size: rem(24);
    text-decoration: none;
    color: $fg-color;
    margin-top: 0;
    text-align: center;

    @include min {
      font-size: rem(20);
      padding: rem(20) 0;
      margin: 0;
      text-align: center;
    }
  }

  .social-list {
    text-align: center;
    padding-inline-start: 0;

    .socials {
      display: inline;

      .icons {
        margin: 0;
        font-size: rem(24);
        padding: 0 rem(8);

        i {
          color: $fg-color;

          &:hover {
            color: $link-color;
          }
        }
      }

      @include min {
        padding: rem(20) 0;
        margin: 0;
        .icons {
          i {
            font-size: rem(20);
          }
        }
      }
    }
  }
}
