.content {
  flex: 1;
  margin-top: 1.6rem;
  display: flex;
  margin-bottom: 1.6rem;

  header {
    margin-top: 2rem;
    margin-bottom: 2rem;

    h1 {
      font-size: 4.2rem;
      // Take the font size and multiply it by 20% to get the line height.
      line-height: 5rem;
      margin: 0;

      @media only screen and (max-width: 768px) {
        font-size: 4rem;
        line-height: 4.6rem;
      }
    }
  }

  article {

    // Set article inside a box
    background-color: $bg-color-dark;
    border-radius: 0.6rem;
    padding: 0 2rem 2rem 2rem;


    a:where(.external-link)::after {
      @include fa-icon;
      content: fa-content($fa-var-external-link);
      padding-left: 0.5em;
      font-size: 0.75em;
    }

    details {
      summary {
        cursor: pointer;
      }
    }

    footer {
      margin-top: 4rem;

      .disqus {
        // Center Disqus not available message
        text-align: center;

      }

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: -0.5rem;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }

    // Need to shrink the padding on smaller screens
    @media only screen and (max-width: 768px) {
      padding: 0 1rem 1rem 1rem;
    }

  }

  .post {

    .post-title {
      margin-bottom: 2em;
      text-align: center;
    }

    .post-meta {
      @media only screen and (max-width: 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }

      .tags {
        .tag {
          display: inline-block;
          padding: 0.3rem 0.6rem;
          background-color: $alt-bg-color;
          border-radius: 0.6rem;
          line-height: 1.4em;

          a {
            color: $fg-color;
            text-align: center;
          }

          a:active {
            color: $fg-color;
          }
        }
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  padding-top: 3.2rem;
  width: 52rem;
  height: auto;
  border-radius: 25rem;

  @media only screen and (max-width: 768px) {
    width: 52rem;
  }
}

.featured-image img {
  padding-top: 1%;
  width: 75%;
  height: 192px;
  margin-bottom: 10%;
  //border-radius: 25%;

  @media only screen and (max-width: 768px) {
    width: 10rem;
  }
}

.list {
  background-color: $bg-color-dark;
  border-radius: 0.5rem;
  padding: 2rem;

  ul {
    margin-top: 3.2rem;
    list-style: none;
    padding: 0;

    li {
      font-size: 1.8rem;
      background-color: $alt-bg-color-dark;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      margin-bottom: 1.6rem;

      @media only screen and (max-width: 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        flex: 1;
        width: 20rem;
        text-align: left;
        margin-right: 3rem;

        @media only screen and (max-width: 768px) {
          display: block;
          text-align: left;
        }
      }

      .title {
        font-size: 1.8rem;
        //flex: 2;
        color: $fg-color;
        font-family: $font-family;
        font-weight: 700;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }

  ul:not(.pagination) {
    li {
      @media only screen and (min-width: 768.1px) {
        display: flex;
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

  .about {
    text-align: center;
    width: 100%;
    background-color: $bg-color-dark;
    border-radius: 0.5rem;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    .description {

      margin-bottom: 2rem;
      h2 {
        margin-top: 8rem;
        margin-bottom: 0;
        font-size: 2.4rem;

        @media only screen and (max-width: 768px) {
            font-size: 2rem;
        }
      }
    }

    ul {
      list-style: none;
      margin: 1rem 0 1rem 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;

        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;

          &:hover,
          &:focus {
            color: $link-color;
          }

          @media only screen and (max-width: 768px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.fa,
.fa-copyright {
  font-size: 12px;
  // Align to the top
  vertical-align: top;
  margin-top: 0.5rem;
}

.fa-2x,
//.fa-github,
//.fa-gitlab,
.fa-twitter,
.fa-linkedin,
.fa-envelope,
.fa-rss,
.fa-medium {
  font-size: 3rem;
  color: $alt-bg-color-dark;
}

.prev-next {
  margin-top: 5%;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }
  .fa-arrow-left,
  .fa-arrow-right,
  .prev,
  .next {
    font-size: 1.8rem;
  }
}
