@mixin content_dark {
  .content {
    .post {
      .tags {
        .tag {
          .tag-link:active,
          :hover,
          :focus {
            color: $link-color-dark;
          }
        }
      }
      .categories {
        .category {
          .category-link:active,
          :hover,
          :focus {
            color: $link-color-dark;
          }
        }
      }
    }
    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
