.fa-github {
  font-size: 2.4rem;
  color: black;
}

.fa-gitlab {
  font-size: 2.4rem;
  color: red;
}

.fa-facebook,
.fa-facebook-official {
  font-size: 2.4rem;
  color: darkblue
}

.fa-twitter {
  font-size: 2.4rem;
  color: blue;
}

.fa-rss {
  font-size: 2.4rem;
  color: orange;
}
